<!DOCTYPE>
<html>

<head>
    <title>Cadastre-se</title>
    <link rel="stylesheet" type="text/css" href="/views/css/estilo_admin_card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

    <div class="divLoader">
        <div class="preloader-wrapper big active loader-spinner">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Aguarde...</p>
    </div>

    <div id="divGeral">

        <!-- NAVBAR -->
        <header>
            <nav id="navBar">
                <div onclick="window.location.href='/admin_start'" class="purple-text kit-flex logo-nav">
                    <i class="icon-comeae kit-flex"></i>
                    <i class="icon-comeae_texto kit-flex"></i>
                </div>
                <div id="divIconMenu">
                    <button style="padding: 0px;" data-target="sidenav-1"
                        class="waves-effect waves-light btn sidenav-trigger"><i id="menuIconSup"
                            class="material-icons">menu</i></button>
                </div>

                <div>
                    <div id="divHorarioTopo">
                        <select class="selc">
                            <option id="1" value="Fechado">Restaurante Fechado</option>
                            <option id="2" value="Aberto">Restaurante Aberto</option>
                            <option id="3" value="Pausado">Pausado</option>
                        </select>
                    </div>
                    <button id="btnLog" class="btn-small logout">Sair
                    </button>
                </div>

            </nav>
        </header>

        <!-- LEFT SIDEBAR	 -->
        <ul id="sidenav-1" class="sidenav sidenav-fixed">

            <div id="pageLinks">
                <li><a id="nomePropEstab" class="waves-effect waves-light">{{nome}}<span
                            class="new badge pulse countPedido"
                            onclick="javascript:window.location.href='/admin_ped'">4</span></a></li>
                <li><a id="emailProp" class="waves-effect waves-light">{{email}}</a></li>
                <li><a class="waves-effect waves-light" href="/admin_start">Início</a></li>
                <li><a class="waves-effect waves-light" href="/admin_ava">Avaliações</a></li>
                <li><a class="waves-effect waves-light" href="/admin_ped">Pedidos</a></li>
                <li><a class="waves-effect waves-light" href="">Financeiro</a></li>
                <li><a class="waves-effect waves-light" href="/admin_card">Cardápio</a></li>
                <li><a class="waves-effect waves-light" href="admin_promo">Promoções</a></li>
                <li><a class="waves-effect waves-light" href="/admin_areas">Áreas de entrega</a></li>
                <li><a class="waves-effect waves-light" href="">Formas de pagamento</a></li>
                <li><a class="waves-effect waves-light" href="/admin_hr">Horário de funcionamento</a></li>
                <li><a class="waves-effect waves-light" href="/admin_users">Usuários</a></li>
                <li><a id="marcaPaginaAtual" class="waves-effect waves-light" href="/admin_profile">Perfil</a></li>
                <li><a class="waves-effect waves-light trigger-loader" href="/admin_profile">Relatório</a></li>
                <li><a class="waves-effect waves-light" href="">Ajuda</a></li>
                <li><a class="waves-effect waves-light" href="">Políticas</a></li>
                <li><a class="waves-effect waves-light" href="">Configurações do ambiente</a></li>
                <div class="divider"></div>
                <li><a id="indef" class="waves-effect waves-light"></a></li>
            </div>
        </ul>

        <div id="divCorpo">

            <div id="divInicio">
                <h4>Meu Perfil</h4>
            </div>
            <div id="divisorCard" class="divider"></div>

            {{#each dado}}

            <div style="width: 100%; margin-bottom: 20px;">
                <div class="divCentroPerfil">

                    <div>
                        <p>Nome</p>
                        <input disabled readonly class="browser-default btnNome validate" name="nomefantasia"
                            type="text" value="{{nomefantasia}}">
                        <i class="material-icons">person</i>
                    </div>
                    <div>
                        <p>Email de login</p>
                        <input disabled readonly class="browser-default btnNome form" name="email" type="email"
                            value="{{email}}">
                        <i class="material-icons">email</i>
                    </div>
                    <div>
                        <p>Email de contato</p>
                        <input disabled readonly value="{{emailRest}}" class="browser-default btnNome vali form"
                            type="email" name="email2">
                        <i class="material-icons">email</i>
                    </div>

                    <div>
                        <p>CPF/CNPJ</p>
                        <input disabled readonly class="browser-default btnNome validate" name="cpfcnpj" type="text"
                            inputmode="numeric" id="cpfcnpj" value="{{cnpj}}">
                        <i class="material-icons">contacts</i>
                    </div>

                    <div>
                        <p>Telefone de contato</p>
                        <input disabled readonly class="browser-default btnNome validate" name="numeroRestaurante"
                            inputmode="numeric" id="telProfile" type="text" value="{{numerorestaurante}}">
                        <i class="material-icons">local_phone</i>
                    </div>
                    <div>
                        <p>Endereço</p>
                        <input disabled readonly class=" browser-default btnNome validate form" name="bairro"
                            type="text" value="{{endereco.cidade}}">
                        <i class="material-icons">location_on</i>
                    </div>
                    <div>
                        <p>Descrição do Restaurante</p>
                        <textarea disabled readonly class=" browser-default btnNome validate form"
                            name="descricao"></textarea>
                        <i class="material-icons">edit</i>
                    </div>

                    <div class="dv-bt-solicit">
                        <a class="waves-effect waves-light btn-small fonte-primaria btnEditarPerfil kit-flex">Editar</a>
                        <button type="submit" class="waves-effect waves-light btn-small btnEnviarSol kit-flex fonte-primaria green
                        ">Enviar
                            solicitação</button>
                        <a class="waves-effect waves-light btn-small red btnCancelSol kit-flex fonte-primaria
                        ">Cancelar</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.1.0/vanilla-masker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="https://cdn.bootcss.com/push.js/1.0.12/push.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/js/Funcoes/Compartilhado-REST.js"></script>
<script src="/js/admin_profile.js"></script>

</html>