<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/views/css/finalizar.css">
    <link rel="stylesheet" href="/views/css/Comp/CompExterno.css">
    <title>Finalizar</title>
</head>

<body>

    <nav class="topo row sticky no-select">
        <a onclick='window.history.go(-1); return false;'
            class="waves-effect waves-light col s2 m1 hide-on-large-only center-align bt-acao-mobile"><i
                class="icon-arrow-left2 white-text bt-topo-mobile botao-retorno-topo"></i></a>
        <div onclick="window.location.href='/comeae'" class="col s8 m10 hide-on-large-only center-align"
            id="logo-mobile">
            <i class="icon-comeae fonte-logo"></i><i class="icon-comeae_texto fonte-logo-texto"></i>
        </div>
        <a class="waves-effect waves-light col s2 m1 hide-on-large-only center-align bt-acao-mobile"><i
                class="icon-search white-text bt-topo-mobile botao"></i></a>
        <div class="container hide-on-med-and-down">
            <div class="col l2 hide-on-med-and-down" id="logo" onclick="window.location.href='/comeae'">
                <div class="row">
                    <i class="icon-comeae fonte-logo"></i><i class="icon-comeae_texto fonte-logo-texto"></i>
                </div>
            </div>
            <div class="col l3 hide-on-med-and-down">
                <form class="fm-busca" action="/busca" method="GET">
                    <div class="autobusca input-field suffix">
                        <input autocomplete="off" type="text" required name="search" id="buscar"
                            class="pesquisar-topo autocomplete-busca" placeholder="Busque por restaurante/prato">
                        <i class="icon-search white-text btn-pesquisa no-select" title="Consultar" alt="Consultar"></i>
                    </div>
                </form>
            </div>
            <div class="col l7 m5 hide-on-med-and-down no-select" id="menu">
                <a href="/promocoes" class="col l4 item-menu waves-effect waves-light"><i
                        class="icon-promocao"></i><span>Promoções</span></a>
                <div class="log-check"></div>
                <a class="col l3 item-menu waves-effect waves-light" data-target="meu_carrinho_suspenso"
                    id="bt-topo-carrinho"><i class="icon-shopping-cart"></i><span
                        class="carrinho-sup">Carrinho</span></a>
            </div>
        </div>
    </nav>
    <nav class="hide" id="navbar-pesquisar">
        <div class="nav-wrapper white darken-4">
            <form class="fm-busca-mobile" action="/busca" method="GET">
                <div class="autobusca input-field">
                    <input autocomplete="off" id="search" name="search" class="autocomplete-busca" type="search"
                        placeholder="Pesquisar...">

                    <label class="label-icon active" for="search">
                        <a class="inicio">
                            <i class="material-icons purple-text retorno-seta">arrow_back</i>
                        </a>
                    </label>
                    <i class="material-icons limpar-pesquisa purple-text" title="Limpar pesquisa">close</i>
                </div>
            </form>
        </div>
    </nav>

    {{!-- SIDENAV CARRINHO --}}
    <ul id="meu_carrinho" class="sidenav sidenav-carrinho no-select">
        <li>
            <div class="carrinho_cabecalho">
                <a class="fechar_carrinho cor-secundaria" title="Fechar" alt="Fechar"><i
                        class="icon-close small"></i></a>
                <div class="container">
                    <span class="titulo-pedido">Seu pedido em
                        <span class="titulo-pedido-restaurante"></span>
                    </span>
                    <span class="titulo-limpar-pedido">Limpar</span>
                </div>
            </div>
            <div class="container">
                <div class="carrinho_itens_side">
                    <div class="grey lighten-5 center-align center circulo-vazio_side no-select">
                        <i class="icon-carrinho_vazio"></i>
                    </div>
                    <span class="legenda-vazio-side">
                        Seu carrinho está vazio <br>Adicione itens
                    </span>
                </div>
            </div>
            <div class="carrinho_resumo_side row">
                <div class="container">
                    <div>
                        <div class="col m6 s6">
                            <span>Subtotal</span>
                            <span>Taxa de Entrega</span>
                            <span><b>Total</b></span>
                        </div>
                        <div class="col m6 s6 right-align carrinho_top_valores">
                            <span class="subtotal-top">R$ 0,00</span>
                            <span class="entrega-top">R$ 10,00</span>
                            <span class="total-top">R$ 0,00</span>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn btn-finalizar-pedido center">
                        <i class="icon-checkmark-outline white-text"></i>
                        <span>Finalizar pedido</span></a>
                </div>
            </div>
        </li>
    </ul>

    {{!-- SIDENAV RECUPERAR --}}
    <ul id="slide-out" class="sidenav sidenav-recuperar"
        style="min-width: 100%; min-width: 100%; background-color: purple; z-index: 9999999991;">
        <div class="side-header">
            <i class="material-icons white-text sidenav-close"
                style="font-size: 2.2rem;cursor: pointer;position: absolute; right: 5px; top: 5px;">close</i>
        </div>
        <div class="dv-logo-side">
            <i class="icon-comeae"></i>
            <i class="icon-comeae_texto"></i>
        </div>
        <div class="dv-recu">
            <span class="white-text">Recuperação de senha</span>
            <form action="" class="fm-recu">
                <div class="input-field">
                    <input class="browser-default" placeholder="E-mail" id="emailrecu" type="email">
                    <i class="material-icons white-text">email</i>
                </div>
                <div class="bt-recu">
                    <button class="waves-effect waves-purple btn-small white">Enviar</button>
                    <i class="material-icons">send</i>
                </div>
            </form>
            <div class="bt-inicio">
                <a class="waves-effect waves-purple btn-small white sidenav-close">Voltar</a>
                <i class="material-icons">home</i>
            </div>
        </div>

    </ul>

    {{!-- SIDENAV LOGIN --}}
    <ul id="slide-out" class="sidenav sidenav-login">
        <i class="material-icons fechar-sid-login white-text sidenav-close">close</i>

        <div class="dv-rest-logado white-text">
            <span>Sessão aberta</span>
            <div>
                <div class="row">
                    <div class="card">
                        <div class="card-content">
                            <span class="nome-estab-log"></span>
                            <span class="email-esta-log"></span>
                        </div>
                        <div class="kit-flex dv-logrest">
                            <button class="waves-effect waves-light btn-small white fonte-primaria"
                                onclick="window.location.href='/admin_start'">Entrar</button>
                            <button
                                class="waves-effect waves-light btn-small red bt-sessao-sair white-text fonte-primaria">Sair</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dv-logo-side">
            <i class="icon-comeae"></i>
            <i class="icon-comeae_texto"></i>
        </div>

        <div class="dv-logar">
            <span class="white-text">Identificação</span>
            <form action="" class="fm-logar">
                <div class="input-field">
                    <input class="browser-default" placeholder="E-mail" id="emaillog" type="email" required>
                    <i class="material-icons white-text">email</i>
                </div>
                <div class="input-field">
                    <input class="browser-default" placeholder="Senha" id="senhalog" minlength="6" type="password"
                        required>
                    <i class="material-icons white-text">lock_outline</i>
                </div>
                <div class="bt-entrar">
                    <button class="waves-effect waves-purple btn-small white">Entrar</button>
                    <i class="material-icons">send</i>
                </div>
            </form>
            <div class="bt-entrar-fb">
                <a class="waves-effect waves-purple btn-small white btnFacebook">Por Facebook</a>
                <i class="icon-facebook"></i>
            </div>
            <div class="bt-cadastrar">
                <a class="waves-effect waves-purple btn-small white">Cadastrar</a>
                <i class="material-icons">touch_app</i>
            </div>
            <div class="kit-flex white-text bt-recuperar">
                <i class="material-icons">refresh</i>
                <span>Recuperar Senha</span>
            </div>
        </div>

        <div class="dv-verificar-code">
            <span class="white-text">Verificação</span>
            <span class="white-text">Enviamos seu código de verificação para o email <b
                    class="yellow-text text-darken-3 enviado-para"></b><br> Preencha os campos abaixo com o
                código recebido.</span>
            <form action="" class="fm-verificar-code">
                <div class="kit-flex inputscode">
                    <div class="input-field">
                        <input class="browser-default" maxlength="1" minlength="1" id="code1" inputmode="numeric"
                            type="text" required>
                    </div>
                    <div class="input-field">
                        <input class="browser-default" maxlength="1" minlength="1" id="code2" inputmode="numeric"
                            type="text" required>
                    </div>
                    <div class="input-field">
                        <input class="browser-default" maxlength="1" minlength="1" id="code3" inputmode="numeric"
                            type="text" required>
                    </div>
                    <div class="input-field">
                        <input class="browser-default" maxlength="1" minlength="1" id="code4" inputmode="numeric"
                            type="text" required>
                    </div>
                    <div class="input-field">
                        <input class="browser-default" maxlength="1" minlength="1" id="code5" inputmode="numeric"
                            type="text" required>
                    </div>
                </div>
                <div class="bt-enviar-code">
                    <button class="waves-effect waves-purple btn-small white">Enviar</button>
                    <i class="material-icons">check_circle</i>
                </div>
            </form>
            <div class="kit-flex white-text bt-editaremail">
                <i class="material-icons">edit</i>
                <span>Editar Email</span>
            </div>
        </div>

        <div class="dv-cad-email">
            <span class="white-text">Iniciar Cadastro</span>
            <form action="" class="fm-cad-email">
                <div class="input-field">
                    <input class="browser-default" placeholder="E-mail" id="emailautcad" type="email" required>
                    <i class="material-icons white-text">email</i>
                </div>
                <div class="bt-aut-cadastro">
                    <button class="waves-effect waves-purple btn-small white">Enviar</button>
                    <i class="material-icons">check_circle</i>
                </div>
            </form>
            <div class="bt-entrar-fb2">
                <a class="waves-effect waves-purple btn-small white">Por Facebook</a>
                <i class="icon-facebook"></i>
            </div>
            <div class="bt-logar">
                <a class="waves-effect waves-purple btn-small white">Logar</a>
                <i class="material-icons">exit_to_app</i>
            </div>
        </div>

        <div class="dv-cadastrar">
            <span class="white-text">Cadastro</span>
            <form action="" class="fm-cadastrar">
                <div class="input-field">
                    <input class="browser-default" placeholder="Nome Completo" id="nome" type="text" required>
                    <i class="material-icons white-text">person</i>
                </div>
                <div class="input-field">
                    <input class="browser-default" maxlength="11" minlength="10" placeholder="Telefone" id="telefone"
                        oninput="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" type="tel"
                        required>
                    <i class="material-icons white-text">phone</i>
                </div>
                <div class="input-field">
                    <input class="browser-default valid" placeholder="E-mail" id="emailcad" type="email" required
                        disabled>
                    <i class="material-icons white-text disabled">email</i>
                </div>
                <div class="input-field">
                    <input class="browser-default" placeholder="Senha" id="senhacad" type="password" required>
                    <i class="material-icons white-text">lock_outline</i>
                </div>
                <div class="input-field">
                    <input class="browser-default" placeholder="Confirmar Senha" id="confsenhacad" type="password"
                        required>
                    <i class="material-icons white-text">lock_outline</i>
                </div>
                <div class="dv-email-noticias kit-flex">
                    <span class="white-text">Receber emails com notícias e novidades</span>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in check-news" checked="checked" />
                            <span class="kit-flex"></span>
                        </label>
                    </p>
                </div>
                <div class="bt-conf-cadastrar">
                    <button class="waves-effect waves-purple btn-small white">Cadastrar</button>
                    <i class="material-icons">check_circle</i>
                </div>
            </form>
        </div>

        <div class="dv-cad-rest">
            <span class="white-text">Cadastro Restaurante</span>
            <form method="POST" action="/cad_rest" class="fm-cad-rest">
                <div class="input-field">
                    <input class="browser-default" placeholder="Nome do estabelecimento" id="nome_rest" name="nome_rest"
                        type="text" required>
                    <i class="material-icons white-text">restaurant</i>
                </div>
                <div class="input-field">
                    <input class="browser-default" placeholder="E-mail" id="emailcad_rest" name="emailcad_rest"
                        type="email" required>
                    <i class="material-icons white-text">email</i>
                </div>
                <div class="input-field">
                    <input class="browser-default" maxlength="11" minlength="10" placeholder="Telefone"
                        name="telefone_rest" id="telefone_rest"
                        oninput="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" type="tel"
                        required>
                    <i class="material-icons white-text">phone</i>
                </div>
                <div class="bt-conf-cad-rest">
                    <button class="waves-effect waves-purple btn-small white">Cadastrar</button>
                    <i class="material-icons">check_circle</i>
                </div>
            </form>
            <div class="bt-entrar-fb2">
                <a class="waves-effect waves-purple btn-small white">Por Facebook</a>
                <i class="icon-facebook"></i>
            </div>
            <div class="bt-logar">
                <a class="waves-effect waves-purple btn-small white">Logar</a>
                <i class="material-icons">exit_to_app</i>
            </div>
        </div>

    </ul>

    <!-- DROPDOWN PERFIL LOGADO -->
    <ul id='dropdown-perfil-log' class='dropdown-content'>
        <li> <i class="material-icons">receipt</i> <a href="/pedidos">Pedidos</a></li>
        <li> <i class="material-icons">confirmation_number</i> <a href="/cupons">Cupons</a></li>
        <li> <i class="material-icons">person</i> <a href="/dados">Dados</a></li>
        <li> <i class="material-icons">home</i> <a href="/enderecos">Endereços</a></li>
        <li class="bt-fav-perf-log"> <i class="material-icons">favorite</i> <a>Favoritos</a></li>
        <li class="divider" tabindex="-1"></li>
        <li class="bt-sair-app"> <i class="material-icons">exit_to_app</i> <a>Sair</a></li>
    </ul>

    {{!-- SIDENAV PERFIL LOGADO  --}}
    <ul id="slide-out" class="sidenav side-perfil-log">

        <i class="material-icons white-text sidenav-close">close</i>
        <div class="dv-logo-side">
            <i class="icon-comeae"></i>
            <i class="icon-comeae_texto"></i>
        </div>

        <div class="white-text dv-corpo-sidelog">
            <div onclick="window.location.href='/dados'" class="header-side kit-content">
                <div class="kit-content">
                    <div class="opc-img-sidelog">
                        <img src="/views/img/base.png" alt="" class="circle responsive-img">
                    </div>
                    <div class="opc-sidelog">
                        <span class="nomeUsuario"></span>
                        <span class="grey-text text-lighten-1">Editar perfil</span>
                    </div>
                </div>
                <i class="material-icons">keyboard_arrow_right</i>
            </div>

            <div class="divider opcy-2"></div>

            <div onclick="window.location.href='/cupons'" class="dv-cupom  kit-content">
                <div class="kit-content">
                    <div>
                        <i class="material-icons">confirmation_number</i>
                    </div>
                    <div class="opc-sidelog">
                        <span>Cupons</span>
                        <span class="grey-text text-lighten-1">Meus cupons de desconto</span>
                    </div>
                </div>
                <i class="material-icons">keyboard_arrow_right</i>
            </div>
            <div class="divider opcy-2"></div>

            <div onclick="window.location.href='/enderecos'" class="dv-enderecos  kit-content">
                <div class="kit-content">
                    <div>
                        <i class="material-icons">home</i>
                    </div>
                    <div class="opc-sidelog">
                        <span>Endereços</span>
                        <span class="grey-text text-lighten-1">Meus endereços de entrega</span>
                    </div>
                </div>
                <i class="material-icons">keyboard_arrow_right</i>
            </div>
            <div class="divider opcy-2"></div>

            <div onclick="window.location.href='/pedidos'" class="dv-pedidos  kit-content">
                <div class="kit-content">
                    <div>
                        <i class="material-icons">receipt</i>
                    </div>
                    <div class="opc-sidelog">
                        <span>Pedidos</span>
                        <span class="grey-text text-lighten-1">Meus pedidos</span>
                    </div>
                </div>
                <i class="material-icons">keyboard_arrow_right</i>
            </div>
            <div class="divider opcy-2"></div>

            <div class="dv-favoritos  kit-content">
                <div class="kit-content">
                    <div>
                        <i class="material-icons">favorite_border</i>
                    </div>
                    <div class="opc-sidelog">
                        <span>Favoritos</span>
                        <span class="grey-text text-lighten-1">Restaurantes favoritados por mim</span>
                    </div>
                </div>
                <i class="material-icons">keyboard_arrow_right</i>
            </div>
            <div class="divider opcy-2"></div>

            <div onclick="window.location.href='/ajuda'" class="dv-ajuda  kit-content">
                <div class="kit-content">
                    <div>
                        <i class="material-icons">live_help</i>
                    </div>
                    <div class="opc-sidelog">
                        <span>Ajuda</span>
                        <span class="grey-text text-lighten-1">O seu local de auxílio</span>
                    </div>
                </div>
                <i class="material-icons">keyboard_arrow_right</i>
            </div>
            <div class="divider opcy-2"></div>

            <div class="dv-sair-app  kit-content">
                <button class="waves-effect waves-light red btn-small fonte-primaria"><i
                        class="material-icons">exit_to_app</i>Encerrar sessão</button>
            </div>

        </div>
    </ul>

    <!-- Dropdown Filtro > Busca > Restaurante -->
    <ul id='filtrobusca' class='dropdown-content ul-filtrobusca'></ul>

    {{!-- DROPDOWN CARRINHO --}}
    <ul id='meu_carrinho_suspenso' class='dropdown-content'>
        <li>
            <div class="carrinho_cabecalho">
                <div>
                    <span class="titulo-pedido">Seu pedido em
                        <span class="titulo-pedido-restaurante"></span>
                    </span>
                    <span class="titulo-limpar-pedido">Limpar</span>
                </div>
            </div>
            <div class="carrinho_itens">
            </div>
            <div class="carrinho_resumo">
                <div class="col l6">
                    Subtotal<br>Taxa de Entrega<br><b>Total</b>
                </div>
                <div class="col l6 right-align carrinho_top_valores">
                    <span class="subtotal-top">R$ 0,00</span>
                    <span class="entrega-top">R$ 10,00</span>
                    <span class="total-top">R$ 0,00</span>
                </div>
                <div class="center">
                    <a class="waves-effect waves-light btn btn-finalizar-pedido"><i
                            class="icon-checkmark-outline white-text"></i> <span>Finalizar pedido</span></a>
                </div>
            </div>
        </li>
    </ul>

    <section class="tarja-endereco hide-on-med-and-down">
        <div class="container">
            <div class="endereco-cadastrado right">
                <a href="#modalEntrada" class="cor-primaria entrega-dados modal-trigger"><i
                        class="icon-regiao cor-secundaria"></i>
                    <span class="cor-secundaria entrega">Entregar em:</span>
                    <span></span>
                </a>
            </div>
        </div>
    </section>
    <section class="tarja-endereco-mobile hide-on-large-only">
        <div class="container">
            <div class="endereco-cadastrado-mobile">
                <a href="#modalEntrada" class="cor-primaria entrega-dados-mobile modal-trigger"><i
                        class="icon-regiao cor-secundaria"></i>
                    <span class="cor-secundaria entrega">Entregar em:</span>
                    <span></span>
                </a>
            </div>
        </div>
    </section>

    <footer class="rodape-mobile hide-on-large-only row center-align no-select">
        <a href="/comeae" class="col s3 m3">
            <i class="icon-home cor-secundaria"></i>
            <span class="legenda-tab-menu cor-secundaria">Inicio</span>
        </a>
        <a class="col s3 m3 waves-effect waves-light log-check-mobile"></a>
        <a class="col s3 m3 waves-effect waves-light" data-target="meu_carrinho" id="bt-tab-carrinho">
            <i class="icon-shopping-cart"></i>
            <span class="legenda-tab-menu cor-primaria">Carrinho</span>
        </a>
        <a class="col s3 m3 waves-effect waves-light pedidos-mobile">
            <i class="icon-pedidos"></i>
            <span class="legenda-tab-menu cor-primaria">Pedidos</span>
        </a>
    </footer>

    <!-- Dropdown Perfil -->
    <ul id='drop-perfil' class='dropdown-content'>
        <li><a href="/dados">Dados</a></li>
        <li><a href="/cupons">Cupons</a></li>
        <li><a href="/pedidos">Pedidos</a></li>
        <li class="divider" tabindex="-1"></li>
        <li class="bt-sair-app"><a>Sair</a></li>
    </ul>

    <div class="container">
        <div class="row dv-container-finalizar">
            <div class="caixageral">
                <div class="caixa1">
                    <p class="fonte-primaria cor-primaria">Finalize seu pedido</p>
                    <div class="dv-location-sup">
                        <p class="fonte-primaria cor-secundaria">Entregar em</p>
                        <div>
                            <i class="material-icons red-text">location_on</i>
                            <p class="ende"></p>
                        </div>
                    </div>
                    <p class="fonte-primaria cor-secundaria txt-pg">Pagamento</p>

                    <div class="row divtabsfinal">
                        <div class="col s12 tabscol">
                            <ul class="tabs">
                                <li class="tab col s3">
                                    <a class="active" href="#test1">Na entrega</a>
                                </li>
                                <li class="tab col s3 disabled">
                                    <a href="#test2" class="">Online</a>
                                </li>
                            </ul>
                        </div>

                        <div id="test1" class="col s12 active">

                            <div id="test1" class="col s12 active">
                                <div href="#modalTroco" class="divcashpay modal-trigger" checado="false">
                                    <img src="/views/img/iconfinalizar/money.png">
                                    <div class="divdinheiropay">
                                        <p>Dinheiro</p>
                                    </div>
                                </div>
                                <div class="divpayment">
                                    <div class="divgrouppay">
                                        <div class="divgroupsolopay kit-flex">
                                            <div class="divsolopay" checado='false'>
                                                <img src="/views/img/iconfinalizar/elo.png">
                                                <p>Crédito</p>
                                            </div>
                                        </div>
                                        <div class="divgroupsolopay kit-flex">
                                            <div class="divsolopay" checado='false'>
                                                <img src="/views/img/iconfinalizar/elo.png">
                                                <p>Débito</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divpayment">
                                    <div class="divgrouppay">
                                        <div class="divgroupsolopay kit-flex">
                                            <div class="divsolopay" checado='false'>
                                                <img src="/views/img/iconfinalizar/master.png">
                                                <p>Crédito</p>
                                            </div>
                                        </div>
                                        <div class="divgroupsolopay kit-flex">
                                            <div class="divsolopay" checado='false'>
                                                <img src="/views/img/iconfinalizar/master.png">
                                                <p>Débito</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divpayment">
                                    <div class="divgrouppay">
                                        <div class="divgroupsolopay kit-flex">
                                            <div class="divsolopay" checado='false'>
                                                <img src="/views/img/iconfinalizar/visa.png">
                                                <p>Crédito</p>
                                            </div>
                                        </div>
                                        <div class="divgroupsolopay kit-flex">
                                            <div class="divsolopay" checado='false'>
                                                <img src="/views/img/iconfinalizar/visa.png">
                                                <p>Débito</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="divisor-dash"></div>

                                <div class="dv-nota-cpf">
                                    <div class="input-field">
                                        <input id="cpfcnpjnota1" type="text" inputmode="numeric"
                                            class="validate cpfcnpjnota1">
                                        <label for="cpfcnpjnota1" class="active">CPF/CNPJ
                                            na nota</label>
                                    </div>
                                </div>
                                <div class="dv-bt-escolher-end">
                                    <button disabled='disabled' href="#modalEndereco"
                                        class="bt-escolher-end waves-effect waves-light btn-small btnendereco1 modal-trigger">Escolher
                                        endereço</button>
                                </div>
                            </div>
                        </div>

                        <div id="test2" class="col s12 active">
                            <form class="cardd">
                                <div class="card-wrapper"></div>
                                <div class="divgeraldadoscard">
                                    <div class="input-field dv-nmrcard">
                                        <input id="nmrcartao" required type="tel" inputmode="numeric"
                                            class="validate creditcardnum">
                                        <label for="nmrcartao">Número do
                                            cartão</label>
                                    </div>
                                    <div class="dv-data-cvc">
                                        <div class="input-field">
                                            <input id="validade" type="tel" inputmode="numeric" required class="mmaa"
                                                placeholder="MM / AA">
                                            <label for="validade">Validade</label>
                                        </div>
                                        <div class="input-field">
                                            <input required id="cvc" minlength="3" name="cvc" inputmode="numeric"
                                                type="tel" class="validate cvc">
                                            <label for="cvc">CVC</label>
                                        </div>
                                    </div>
                                    <div class="dv-nome-cpf">
                                        <div class="input-field">
                                            <input maxlength="60" name="nometitular" required id="nometitular"
                                                type="text" class="validate nometitular">
                                            <label for="nometitular">Nome do
                                                titular</label>
                                        </div>
                                        <div class="input-field">
                                            <input required id="cpfcnpjtitular" inputmode="numeric" type="text"
                                                class="validate cpfcnpjtitular">
                                            <label for="cpfcnpjtitular">CPF/CNPJ do
                                                titular</label>
                                        </div>
                                    </div>

                                    <div class="divisor-dash"></div>

                                    <div class="dv-nota-cpf">
                                        <div class="input-field">
                                            <input id="cpfcnpjnota2" type="text" inputmode="numeric"
                                                class="validate cpfcnpjnota2">
                                            <label for="cpfcnpjnota2" class="active">CPF/CNPJ
                                                na nota</label>
                                        </div>
                                    </div>
                                    <div class="dv-bt-escolher-end">
                                        <button disabled='disabled' href="#modalEndereco"
                                            class="bt-escolher-end waves-effect waves-light btn-small btnendereco2 modal-trigger">Escolher
                                            endereço</button>
                                    </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="caixa2">
                <div class="card">
                    <div class="card-content">
                        <div>
                            <p class="grey-text">Seu pedido em</p>
                            <p class="nomeRest fonte-primaria cor-primaria"></p>
                            <div class="divider cardright"></div>
                        </div>

                        <div class="itens_pedido"></div>

                        <div class="cupomcard activator">
                            <i class="material-icons">receipt</i>
                            <div>
                                <p class="forte">Cupom</p>
                                <p class="grey-text">Insira um código</p>
                            </div>
                            <i class="material-icons">navigate_next</i>
                        </div>

                        <div class="contafinal">
                            <div class="divider cardfinal"></div>

                            <div class="grey-text kit-content">
                                <p>Subtotal</p>
                                <p class="valorsubtotal">R$ 0,00</p>
                            </div>
                            <div class="grey-text kit-content">
                                <div class="kit-flex">
                                    <p>Taxa de entrega</p><i class="material-icons i-info-card">info</i>
                                </div>
                                <p class="valortaxaentrega">R$ 0,00</p>
                            </div>

                            <div class="divider cardright"></div>

                            <div class="kit-content forte">
                                <p>Total</p>
                                <p class="valortotal">R$ 0,00</p>
                            </div>
                        </div>
                    </div>
                    {{!-- CARD CUPOM ATRAS --}}
                    <div class="card-reveal">
                        <span class="card-title text-darken-4 cupom-title sp-rv-cup">Cupom
                            <i class="material-icons">close</i>
                        </span>

                        <div class="dv-inp-cup">
                            <div>
                                <input class="browser-default" id="cupom" type="text">
                            </div>
                            <p>Adicionar</p>
                        </div>

                        <div class="divider cardright"></div>

                        <div class="dv-opc-cup">
                            <div>
                                <div>
                                    <i class="material-icons">sentiment_dissatisfied</i>
                                </div>
                                <div class="dv-sem-cup">
                                    <p class="forte">Sem cupom</p>
                                    <p class="grey-text">Nenhum cupom aplicado</p>
                                </div>
                            </div>
                            <p>
                                <label>
                                    <input class="with-gap sem-cupom" name="cupom" type="radio" />
                                    <span></span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="waves-effect waves-light btn-small fonte-primaria forte kit-flex btnconfirmarsaveend bt-confirm-externo">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- MODAL TROCO --}}
    <div id="modalTroco" class="modal">
        <div class="modal-content">
            <h4>Dinheiro</h4>
            <p class="grey-text">Vai precisar de troco?</p>

            <div class="dv-bt-troco">
                <a class="modal-close waves-effect waves-green white-text forte btn-flat btnconfirmartroco">Sim</a>
                <a class="modal-close waves-effect waves-green white-text forte btn-flat">Não</a>
            </div>
        </div>
    </div>

    <!-- Modal ENDERECO -->
    <div id="modalEndereco" class="modal">
        <div class="header-modal kit-flex">
            <i class="material-icons modal-close">close</i>
            <p class="forte center fonte-primaria cor-secundaria">Onde deseja receber o seu pedido?</p>
        </div>
        <div class="modal-content">
            <div class="divendsup kit-flex">
                <div class="divenderecosup">
                    <input id="endereco" inputmode="numeric" maxlength="9" type="tel"
                        class="browser-default cep cep-end-fin" onblur="pesquisacep_fin(this.value);" placeholder="CEP">

                </div>
                <div class="divenderecosup">
                    <input id="endereco1" type="text" class="browser-default rua" placeholder="Rua">
                </div>

                <div class="divnmrsup">
                    <input maxlength="6" id="nmr" type="text" class="browser-default nmrcasa" placeholder="Nº">
                </div>
                <div class="divenderecosup">
                    <input id="endereco2" type="text" class="browser-default bairro" placeholder="Bairro">
                </div>

            </div>
            <div class="divendsup kit-flex">
                <div class="divenderecosup">
                    <input id="cidade2" type="text" class="browser-default cidade" placeholder="Cidade">
                </div>

                <div class="divnmrsup">
                    <input maxlength="2" id="uf" type="text" class="browser-default uf" placeholder="UF">
                </div>

                <div class="divenderecosup">
                    <input id="comp" type="text" class="browser-default comp" placeholder="Complemento (Opcional)">
                </div>

            </div>

            <div class="dv-conf-novoend kit-flex">
                <button class="waves-effect waves-light btn-small btnconfirmarnovoend" cont='0'
                    disabled="disabled">Confirmar</button>
            </div>

            <div class="divider cardright"></div>

            <div class="divendsaved">
                {{#each data}}
                <div class="endsaved">
                    <div class="dv-endereco">
                        <i class="material-icons">home</i>
                        <div>
                            <p>Rua: {{rua}}, Nº {{nmrcasa}}</p>
                            <p>{{bairro}}, {{cidade}} - {{uf}}</p>
                        </div>
                    </div>
                    <p>
                        <label>
                            <input data-bool="{{principal}}" class="with-gap selectEndereco" data-id={{id}} name="end"
                                type="radio">
                            <span></span>
                        </label>
                    </p>
                </div>

                {{/each}}

            </div>

            <div class="dv-conf-end kit-flex">
                <button class="waves-effect waves-light btn-small btnconfirmarsaveend"
                    disabled="disabled">Confirmar</button>
            </div>
        </div>
    </div>

    {{!-- MODAL VALOR TROCO --}}
    <div id="modalValorTroco" class="modal" style="border-radius: 10px;">
        <div class="modal-content">
            <h4 style="text-align: center;color: purple;margin-top: 10px;">Troco para quanto?</h4>
            <div
                style="justify-content: center;align-items: center;color: grey;font-size: 15px;margin: 0px;display: flex;margin-bottom: 10px;">
                <p style="margin: 0;">Seu pedido deu </p>
                <p class="valorpedidomodal" style="margin: 0;color: purple;margin-left: 4px;">30,53</p>
            </div>
            <p style="text-align: center;font-size: 14px;margin: 0;color: grey;">● Digite quanto vai pagar em
                dinheiro
                para que o entregador leve o seu troco.</p>
            <div style="display: flex;justify-content: center;margin-top: 10px; margin-bottom: 10px;">
                <p style="font-size: 14px;color: purple;font-weight: bold;">R$ &nbsp;</p>
                <input type="text" placeholder="0,00" maxlength="6" inputmode="numeric"
                    class="browser-default inputvalortroco"
                    style="border-radius: 3px;border: 1px solid #80808073;font-size: 25px;padding-left: 5px;width: 105px;text-align: center; outline: none;">
            </div>
            <input type="hidden" name="trocoValor" id="troco">
            <div class="kit-flex" style="margin-top: 20px;">
                <a class="waves-effect waves-light btn-small btnconfirmarvalortroco"
                    style="background-color: purple;font-weight: bold;">Confirmar</a>
                <a class="waves-effect waves-light btn-small modal-close"
                    style="margin-left: 20px;background-color: #333;font-weight: bold;">Cancelar</a>
            </div>
        </div>

    </div>

    <!-- MODAL PEDIDOS -->
    <div id="modalPedidos3" class="modal modal-fixed-footer">
        <div class="loadermodal">
            <p>Aguarde...</p>
        </div>
        <div class="modal-header kit-flex">
            <div>
                <i class="material-icons modal-close">close</i>
                <p class="fonte-primaria tipoModal"></p>
            </div>
        </div>
        <div class="modal-content corpo-pedido">
            <div></div>
            <div class="imgproduto">
                <img src="" class="imgProduto materialboxed">
            </div>
            <div>
                <p class="nameprincitem"></p>
                <div>
                    <p class="descricaoProduto"></p>
                </div>
                <div>
                    <p>R$&nbsp;</p>
                    <p class="valorprodmd1">19,00</p>
                </div>
                <a class="dv-nomeestab" href="">
                    <div>
                        <i class="material-icons">store</i>
                        <p class="nomeestab">Pizza Hut</p>
                    </div>
                    <div>
                        <p>50-60 min</p>
                    </div>
                </a>
            </div>

            <div class="tudo"></div>

            <div class="divobservacao">
                <p>Observação</p>
                <textarea class="textobservacao" placeholder="Sem cebola, sem tomate, sem pepino..." name="" id=""
                    cols="30" rows="10"></textarea>
            </div>

        </div>
        <div class="modal-footer rodape-pedido">
            <div>
                <i class="material-icons btnmenosprod">expand_more</i>
                <input class="qntprodutomodal browser-default"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                    inputmode="numeric" maxlength="3" type="text" value="1">
                <i class="material-icons btnmaisprod">expand_less</i>
            </div>
            <div class="btnconfirmarped waves-effect waves-light">
                <p>ADICIONAR</p>
                <p>R$ &nbsp;</p>
                <p class="valortotprodmd1"></p>
            </div>
        </div>

        <div></div>
    </div>

    <!-- Modal ENTRADA -->
    <div id="modalEntrada" class="modal">
        <div>
            <p>Local atual:<b class="locatual"></b></p>
        </div>
        <div class="modal-content center">
            <img src="/views/img/local.png" width="128px">
            <p class="cor-secundaria fonte-primaria forte">Qual a sua localização?</p>
        </div>
        <div class="dv-cep-loc">
            <span class="center grey-text forte opcy-6">Digite um CEP</span>
            <div class="input-field">
                <input onblur="pesquisacep(this.value)" maxlength="9" placeholder="CEP" id="cep-mdl-loc" type="tel"
                    class="validate forte cor-secundaria">
            </div>
        </div>
        <div class="divlocselect">
            <div class="selectsend">
                <select class="js-example-basic-single selectUF" name="state">
                    <option selected value="">UF</option>
                    <option selected value="">UF</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
                <select disabled class="js-example-basic-single selectLOC" name="state">
                    <option selected value="">Local</option>
                    <option value="São Luís">São Luís</option>
                    <option value="São José de Ribamar">São José de Ribamar</option>
                </select>
                <select disabled class="js-example-basic-single selectBAIRRO" name="state">
                    <option selected value="">Bairro</option>
                </select>
            </div>
        </div>
        <div class="dv-bt-confloc">
            <button disabled
                class="waves-effect green waves-light btn-small fonte-primaria btnconfirmLOC">Confirmar</button>
        </div>
        <div class="nao-sei-cep">
            <span class="kit-flex cor-secundaria sem-cep">Não sei
                meu CEP</span>
        </div>

        <div class="dv-end-save">
            <div class="divider"></div>
            <div class="dv-enderecos-geral">
                <span class="forte cor-secundaria kit-flex fonte-primaria">Onde deseja receber?</span>
            </div>
            <div class="opcs-end-mdl">
                <span class="forte cor-secundaria modal-trigger" href="#modalEnderecosEdit">Editar endereços</span>
            </div>
        </div>
    </div>

    {{!-- MODAL EDITAR ENDERECOS INPUTS --}}
    <div id="editarEndereco" data-id="" class="modal modal-fixed-footer">
        <div class="loaderModalEditEnd white">
            <span class="purple-text text-darken-2">Aguarde...</span>
        </div>
        <div id="form-modal-end">
            <div class="header-modal kit-flex">
                <i class="material-icons modal-close purple-text text-darken-2">close</i>
                <span class="kit-flex purple-text text-darken-2 fonte-primaria">Endereço</span>
            </div>
            <div class="modal-content">
                <span class="grey-text">* Se não houver <b>Nº</b> ou <b>Complemento</b>
                    deixe o campo em branco! *</span>
                <div class="divider"></div>
                <div>
                    <div class="input-field s3">
                        <input required maxlength="9" placeholder="XXXXX-XXX" class="cep1" id="cep" inputmode="numeric"
                            type="text" class="validate">
                        <label for="cep">CEP *</label>
                    </div>
                    <div class="input-field s3">
                        <input required placeholder="Endereço" class="rua1" id="rua" type="text" class="validate">
                        <label for="rua">Rua *</label>
                    </div>
                    <div class="input-field s3">
                        <input maxlength="6" placeholder="Nº" id="numero" type="text" class="validate numlocal">
                        <label for="numero">Nº</label>
                    </div>
                    <div class="input-field s3">
                        <input required placeholder="Bairro" id="bairro" type="text" class="validate">
                        <label for="bairro">Bairro *</label>
                    </div>
                    <div class="input-field s3">
                        <input required placeholder="Cidade" id="cidade" type="text" class="validate">
                        <label for="cidade">Cidade *</label>
                    </div>
                    <div class="input-field selectUF-Modal">
                        <select id="UF-Endereco">
                            <option value="" disabled selected>Selecione</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                        <label>UF *</label>
                    </div>
                    <div class="input-field s3">
                        <input placeholder="Complemento" id="complemento" type="text" class="validate">
                        <label for="complemento">Complemento</label>
                    </div>
                    <div class="switch-principal switch">
                        <label>
                            <input class="princiapal" type="checkbox">
                            <span class="lever"></span>
                            Endereço principal
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer kit-flex">
                <button
                    class="modal-close waves-effect waves-light btn-small red darken-2 fonte-primaria">Cancelar</button>
                <button type="submit"
                    class="waves-effect waves-light btn-small green darken-2 fonte-primaria bt-confirm-edit">Confirmar</button>
            </div>
        </div>
    </div>

    <!-- MODAL EDITAR ENDERECOS VISUAL -->
    <div id="modalEnderecosEdit" class="modal">
        <div class="header-modal kit-flex fonte-primaria forte">
            <i class="material-icons cor-secundaria modal-close">close</i>
            <span class="cor-secundaria">Endereço a editar</span>
        </div>
        <div class="modal-content">
            <div class="dv-corpo-endvisu">
                <p class="grey-text ">* Você
                    pode acessar melhor seus endereços indo até <b>Perfil</b> > <b>Endereços</b>.</p>
            </div>
        </div>
    </div>

    <!-- Modal FAVORITOS -->
    <div id="modalFavoritos" class="modal modalFavoritos bottom-sheet">
        <div class="modal-content">
            <i class="material-icons modal-close">close</i>
            <span>Meus favoritos</span>
            <ul class="collection ul-favoritos">
            </ul>
        </div>
    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="https://cdn.bootcss.com/push.js/1.0.12/push.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/121761/card.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/121761/jquery.card.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.1.0/vanilla-masker.min.js"></script>
<script src="/js/Outros/jquery.mask.js"></script>
<script src="/js/finalizar.js"></script>
<script src="/js/Funcoes/FuncoesPedido.js"></script>
<script src="/js/Funcoes/Compartilhados.js"></script>

</html>